header {
    border: 1px solid blue;
}

ul {
    display: inline-block;
    list-style-type: none;
    margin: auto;
}

li {
    display: inline;
    margin: auto;
    padding: 9px;
    float: left;
}

span.disabled {
    color: grey;
}

span.disabled1 {
    color: purple;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.promo {
    font-weight: bold;
    color: gold;
}

.redsister {
    background-color: red;
}

.bluebrother {
    background-color: blue;
}

.grandchild {
    border-radius: 25px;
    border: 1px solid blue;
}

footer input {
    height: 25px;
}

.active {
    color: yellow;
}
